<template>
  <v-footer
    dark
    height="auto"
  >
    <v-card
      class="flex"
      flat
      tile
    >

      <v-card-actions class="grey darken-3 justify-center">
        &copy; {{new Date().getFullYear()}} &nbsp; — &nbsp;<strong> Elixir Shop</strong>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>

</style>