<template>
  <v-toolbar light>
    <v-toolbar-title >Elixir Shop</v-toolbar-title>

    <v-text-field
      class="mx-3 searchbar"
      flat
      label="Search"
      prepend-inner-icon="search"
      solo-inverted
      persistent-hint
    ></v-text-field>
    <v-toolbar-items>
      <v-btn flat>
        <v-icon>apps</v-icon>
      </v-btn>  

      <v-menu v-if="isAuthentificated && user"  
        offset-y
        v-model="logoutMenu"
        :close-on-content-click="false"
        :nudge-width="200"
        >
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <avatar :size="30" :username="user.name"></avatar>
          </v-btn>
        </template>

        <v-card>
          <v-list>
            <v-list-tile avatar>
              <v-list-tile-avatar>
                <avatar :size="40" :username="user.name"></avatar>
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title>{{user.name}}</v-list-tile-title>
                <v-list-tile-sub-title>{{user.email}}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>

          <v-divider class="divider"></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat  @click="logOut()" >Log out</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>

      <v-menu v-else  offset-y>
        <template v-slot:activator="{ on }">
          <v-btn flat v-on="on">
            <v-icon>person</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-tile  @click="signinDialog = !signinDialog">
            <v-list-tile-title  v-text="'Sign in'"></v-list-tile-title>
          </v-list-tile>

          <v-list-tile  @click="signupDialog = !signupDialog">
              <v-list-tile-title v-text="'Sign up'"></v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar-items>
     <v-dialog v-model="signinDialog" max-width="600px">
        <sign-in @cancel="signinDialog=false"></sign-in>
      </v-dialog>

      <v-dialog v-model="signupDialog" max-width="600px">
        <sign-up @cancel="signupDialog=false"></sign-up>
      </v-dialog>
  </v-toolbar>
</template>

<script>

  import Avatar from 'vue-avatar'
  import SignUp from "@/components/SignUp"
  import SignIn from "@/components/SignIn"
  import { mapGetters } from 'vuex'
  import { mapActions } from 'vuex'

  export default {
    components: {
      Avatar,
      SignUp,
      SignIn,
    },
    data: () => ({
      signupDialog: false,
      signinDialog: false,
      logoutMenu: false,
    }),

    created() {
      if(this.isAuthentificated){
        this.getCurrentUser(this.authHeaders)
      }
    },

    methods: {
      ...mapActions([
        'getCurrentUser',
        'logout',
      ]),
      logOut() {
        this.logout(this.authHeaders)
            .then( response => {
              this.$toast.info('You have been logged out', 'Logged out');
            }, error => {
                this.$toast.error('Something went wrong, please retry', 'Error');
            })
        this.logoutMenu = false
      }
    },

    computed: {
      // mix the getters into computed with object spread operator
      ...mapGetters([
        'isAuthentificated',
        'authHeaders'
      ]),
      user() {
        return this.$store.state.auth.user
      }
    }
  }
</script>

<style lang="scss" scoped>
  .divider{
    margin: 0;
  }
</style>