<template>
 <v-app light data-app>
   <div>
    <router-view name="header"></router-view>
    <main>
      <router-view/>
    </main>
    <router-view name="footer"></router-view>
  </div>
  </v-app>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss">
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  main {
    margin: 10px 20px 50px;
  }
</style>
