<template>
  <div>
    <v-layout row wrap>
      <v-flex class="shops-menu">
        <a :class="{'active': showNearbyShops}"
          @click="nearby()" href="#" 
        >Nearby shops</a>
        <a :class="{'active': showPrefferedShops}"
          @click="preffered()" href="#"
        >My preffered shops</a>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex
        v-for="shop in list"
        :key="shop.name"
        v-bind="{ [`xs3`]: true }"
      >
        <v-card class="card-shop">
          <v-img
            :src="'/images/default.png'"
            height="200px"
          >
            <v-container
              fill-height
              fluid
              pa-2
            >
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline" v-text="shop.name"></span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>

          <v-card-actions>
            <v-layout
              align-center
              justify-start
            >
              <span class="subheading mr-2">{{shop.distance}} M</span>
            </v-layout>
            <v-spacer></v-spacer>
            <v-btn icon
              :color="isLiked(shop) ? 'pink' : ''"
              @click="like(shop)" 
              >
              <v-icon 
                :color="isLiked(shop) ? 'white' : 'grey'"
              >favorite</v-icon>
            </v-btn>
            
            <v-btn icon
              :color="isDisliked(shop) ? 'teal' : ''" 
              @click="dislike(shop)"
              >
              <v-icon 
                :color="isDisliked(shop) ? 'white' : 'grey'"
              >thumb_down</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>

import {mapActions} from "vuex"
import {mapGetters} from "vuex"

export default {

  name: 'shops-list',
  data: () => ({
    showNearbyShops: true,
    showPrefferedShops: false,
  }),

  created() {
    if(this.isAuthentificated){
      this.getShops()
    }
    else {
      this.getAllShops()
    }
  },

  methods: {
    ...mapActions([
      'getAllShops',
      'getShops',
      'likeShop',
      'dislikeShop'
    ]),

    like(shop) {

      if(!this.isAuthentificated){
        this.$toast.error('Authentificaton needed, please sign in', 'Unauthaurized');
      }
      else{
          this.likeShop({id: shop.id, reset: this.isLiked(shop)})
          .then(response => {
            this.$forceUpdate();
          }, 
          error => {
            this.$toast.error('Something went wrong, please retry', 'Error');
          })
      }
    },

    dislike(shop) {

      if(!this.isAuthentificated){
        this.$toast.error('Authentificaton needed, please sign in', 'Unauthaurized');
      }
      else{
          this.dislikeShop({id: shop.id, reset: this.isDisliked(shop)})
          .then(response => {
            this.$forceUpdate();
          }, 
          error => {
            this.$toast.error('Something went wrong, please retry', 'Error');
          })
      }
    },

    isLiked(shop) {
      return !!shop.action && !!shop.action.liked_at
    },

    isDisliked(shop) {
      return !!shop.action && !!shop.action.disliked_at
    },

    nearby() {
      this.showNearbyShops = true
      this.showPrefferedShops = false
    },

    preffered() {
      this.showNearbyShops = false
      this.showPrefferedShops = true
    }
  },

  computed : {
     ...mapGetters([
      'isAuthentificated'
    ]),

    list() {
      if(this.showPrefferedShops) {
        return this.$store.state.shops.preffered
      }
      return this.$store.state.shops.nearby
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .card-shop {
    margin: 20px;
  }
  .subheading.mr-2 {
    color: #2196f3;
  }
  .shops-menu {
    text-align: right;
    margin: 10px 25px;
    a {
      padding: 0px 20px;
      &.active, &:focus, &:active{
        text-decoration: underline;
      }
    }
  }
</style>
