<template>
  <v-card>
    <v-card-title>
      <span class="headline">Sign in</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12 sm6 md6>
            <v-text-field v-model="user.email" label="Email" required ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field v-model="user.password" label="Password" type="password" required></v-text-field>
          </v-flex>                      
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="grey darken-1" flat @click="cancel()">Close</v-btn>
      <v-btn color="blue darken-1" flat @click="signIn()">Sign in</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>

  import {mapActions} from "vuex"
  import {mapMutations} from "vuex"

  export default {
    name: 'sign-in',
    data() {
      return {
        user: {}
      }
    },
    created() {
      this.initUser()
    },

    methods: {
      ...mapActions([
        'signin',
      ]),
      ...mapMutations([
        'clearUserMeta',
      ]),

      signIn() {
        this.signin(this.user)
        .then( response => {
          this.$toast.success('You have successfully signed in', 'Signed in')
          this.initUser()
        }, error => {
            this.$toast.error('Something went wrong, please retry', 'Error')
            this.clearUserMeta()
        }),
        this.cancel()
      },

      initUser() {
        this.user = {
          name: '',
          password: '',
        }
      },

      cancel() {
        this.$emit("cancel")
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>