<template>
  <v-card>
    <v-card-title>
      <span class="headline">Create an account</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12 sm6 md6>
            <v-text-field v-model="user.name" label="Name*" required></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-text-field v-model="user.email" label="Email*" required hint="text@example.com"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field v-model="user.password" label="Password*" type="password" required></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field  v-model="user.password_confirmation" label="Confirm password*" type="password" required></v-text-field>
          </v-flex>                      
        </v-layout>
      </v-container>
      <small>*indicates required field</small>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="grey darken-1" flat @click="cancel()">Close</v-btn>
      <v-btn color="blue darken-1" flat @click="signUp()">Sign up</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>

  import { mapActions } from 'vuex'
  import { mapMutations } from 'vuex'

  export default {
    data() {
      return {
        user: {}
      }
    },
    mounted() {
      this.initUser()
    },
    methods: {
      ...mapActions([
        'signup',
      ]),
      ...mapMutations([
        'clearUserMeta',
      ]),

      signUp() {
        this.signup({user : this.user})
        .then( response => {
          this.$toast.success('You have signed up successfully and get logged in', 'Signed up')
          this.initUser()
        }, error => {
            this.$toast.error('Something went wrong, please retry', 'Error')
            this.clearUserMeta()
        })
    
        this.cancel()
      },
      initUser() {
        this.user = {
          name: '',
          email: '',
          password: '',
          password_confirmation: '',
        }
      },
      cancel() {
        this.$emit("cancel")
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>