/* Includes some default style for the starter application.
 * This can be safely deleted to start fresh.
 */

input {
  border: none !important;
  margin-bottom: 5px !important;
}
button:hover,
button:active,
button:focus{
  background-color: transparent;
  border-style: none;
}
.searchbar .v-input__slot {
  background: rgba(0, 0, 0, 0.08) !important;
  margin-bottom: 0 !important;
}
.searchbar.v-input--is-focused .v-input__slot {
  border: 1px solid #2196f3 !important;
  background-color: #f8f8f8 !important;
}
.searchbar .v-input__slot .v-label {
  color: rgba(0, 0, 0, 0.54) !important;
}
.searchbar .v-input__slot input {
  color: black !important;
  margin-bottom: 0 !important;
  border: none !important;
}