<template>
  <div class="datalist">
    <shops-list></shops-list>
  </div>
</template>

<script>
// @ is an alias to /src
import ShopsList from '@/components/ShopsList.vue'

export default {
  name: 'home',
  components: {
    ShopsList
  }
}
</script>
